a {
  color: #DDD;
  text-decoration: none;
}

a:hover {
  color: #CCC;
  text-decoration: underline;
}

body {
  background-color: #222;
  color: #DDD;
  font-family: Roboto;
}

li {
  list-style-type: none;
}

table {
  border-spacing: 20px 0;
}

#login-modal {
  background-color: #444;
  border-radius: 4px;
  border: solid 1px #d0f3f0;
  height: 140px;
  left: 50%;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
}

#login-modal h2 {
  letter-spacing: 0.5px;
}

#password-field {
  color: #00b59f;
  border-radius: 2px;
  display: block;
  border: solid 1px #d0f3f0;
  margin: 10px auto;
  outline: none;
  padding: 2px;
}

#login-button {
  background-color: #00b59f;
  border: none;
  color: #f2fffe;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.5px;
  border-radius: 2px;
  cursor: pointer;
}

.stock-header > * {
  display: inline-block;
  vertical-align: middle;
}

.stock-header > h2 {
  margin-bottom: 0;
}

.type-toggle {
  background: #F3F3F3;
  border-radius: 2px;
  border: 1px #DADADA solid;
  color: #444444;
  cursor: pointer;
  font-size: 9pt;
  font-weight: bold;
  margin-left: 14px;
  margin-top: 20px;
  outline: none;
  padding: 0px 10px;
}