---
---

@import "{{ site.theme }}";

body {
  background-color: #fafeff;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
}
a:not(header a):hover, a:not(header a):focus {
  color: #fafeff;
  font-weight: normal;
  background: #006192;
}
a:hover, a:focus {
  color: #00304D;
  font-weight: normal;
}

::selection {
  background: #006192;
  color: #fafeff;
}
::-moz-selection {
  background: #006192;
  color: #fafeff;
}

.wrapper {
  max-width: 1000px;
  padding: 12px;
  width: 80%;
}

header {
  width: 100%;
  float: none;
  position: static;
  margin-bottom: 12px;
}
header a, header a:hover {
  color: #727272;
}
#hero-image {
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: calc(100vw * 0.33);
  max-height: 600px;
}
#header-wrapper {
  max-width: 1000px;
  width: 80%;
  margin: -106px auto 0 auto;
}
#header-horizontal * {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}

section {
  width: 100%;
  float: none;
  line-height: 1.8;
  text-align: justify;
}
footer {
  float: none;
  position: static;
  -webkit-font-smoothing: subpixel-antialiased;
}

.social-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}
/* Note: background-size has to be below background */
#twitter-logo {
  background: url(/assets/images/twitter_gray.svg);
  background-size: 24px 24px;
}
#twitter-logo:hover {
  background: url(/assets/images/twitter.svg);
  background-size: 24px 24px;
}
#github-logo {
  background: url(/assets/images/github_gray.svg);
  background-size: 24px 24px;
}
#github-logo:hover {
  background: url(/assets/images/github.svg);
  background-size: 24px 24px;
}
#rss-logo {
  background: url(/assets/images/rss_gray.svg);
  background-size: 24px 24px;
}
#rss-logo:hover {
  background: url(/assets/images/rss.svg);
  background-size: 24px 24px;
}

#expertise-toggle-wrapper {
  display: block;
  width: 50%;
  margin: 0 auto 16px auto;
}
.expertise-toggle-option {
  color: #fafafa;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  white-space: nowrap;
  width: 47%;
}
.expertise-toggle-option:link, .expertise-toggle-option:visited, .expertise-toggle-option:hover, .expertise-toggle-option:active {
  color: #fafafa;
  font-weight: normal;
}
#non-expert-mode {
  background-color: #fafeff;
  border: 2px solid #00b257;
  border-radius: 5px 0 0 5px;
  color: #00b257;
}
#non-expert-mode[version-selected="true"] {
  background-color: #00b257;
  color: #fafafa;
}
#expert-mode {
  background-color: #fafeff;
  border: 2px solid #e71d36;
  border-radius: 0 5px 5px 0;
  color: #e71d36;
}
#expert-mode[version-selected="true"] {
  background-color: #e71d36;
  color: #fafafa;
}

#about-headshot {
  border-radius: 10px;
  float: right;
  margin: 0 20px;
  width: 200px;
}
