<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="theme-color" content="#2371a9">
    <meta name="msapplication-navbutton-color" content="#2371a9">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2371a9">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% seo %}

    <link rel="stylesheet" href="{{'/assets/css/style.css?v='}}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>{{ site.title }}</h1></a>
        <div id="header-horizontal">
          <p>{{ site.description }}</p>
          <a href="/about"><p>About</p></a>
          <a href="https://twitter.com/zacharynado" target="_blank" class="social-icon" id="twitter-logo"></a>
          <a href="https://github.com/znado" target="_blank" class="social-icon" id="github-logo"></a>
          <a href="/feed.xml" target="_blank" class="social-icon" id="rss-logo"></a>
        </div>
      </header>
      <section>
        {{ content }}
      </section>
      <footer><p><small>All opinions are my own and do not represent those of my employer.</small></p></footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>